@{
    ViewBag.Title = "Home Page";
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        @*<disv class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Dashboard</h4>
                    </div>
                </div>
            </div>*@
    </div>
    <!-- Container-fluid ends -->
</div>